@charset "utf-8";
/* CSS Document */
body {
    display: flex;
    min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.cards {
	padding-right: 5%; 
	padding-left: 5%;
}

.card_icon {
	margin-bottom: 5px;
}

#signature {
	background-color: #939393;
	width: 100%;
	height: 30%;
	color: aliceblue;
}
