@charset "utf-8";
/* CSS Document */
body {
    display: flex;
    min-height: 100vh;
	flex-direction: column;
}

.navbar {
	margin-bottom: 30px;
}

.txtMargin {
	margin-left: 1%;
}

.marginButton {
	margin-bottom: 15% ;
	margin-right:5%;
}

main {
	flex: 1 0 auto;
}

hr.style13 {
	height: 1px;
	width: 90%;
	padding-bottom: 20px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.cards {
	padding-right: 5%; 
	padding-left: 5%;
	padding-bottom: 5px;
}

.card_icon {
	margin-bottom: 5px;
	color: #424242;
}

#learnerSignature, #supervisorSignature, #signature {
	background-color: #939393;
	width: 100%;
	height: 30%;
	color: aliceblue;
}

/*Profile Picture*/

.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
  	border-radius: 50%;
}


.file-upload {
    display: none;
}

.btnPadding {
	margin: 15px auto 15px auto;
}

/*supervisor page */
.modalBtn {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 15px;
}
